
- type: cached_explicit_singularity
  cache_directory: "{{ galaxy_mutable_data_dir }}/cache/singularity/explicit/"
- type: cached_mulled_singularity
  cache_directory: "{{ galaxy_mutable_data_dir }}/cache/singularity/mulled/"
- type: mulled_singularity
  auto_install: False
  cache_directory: "{{ galaxy_mutable_data_dir }}/cache/singularity/mulled/"
- type: build_mulled_singularity
  auto_install: False
  cache_directory: "{{ galaxy_mutable_data_dir }}/cache/singularity/built/"
