runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4

execution:
  default: local_dest
  environments:
    local_dest:
      runner: local_runner

tools:
- class: local # these special tools that aren't parameterized for remote execution - expression tools, upload, etc
  environment: local_dest
