runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4
  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner

execution:
  default: slurm
  environments:
    local_dest:
      runner: local_runner
    slurm:
      runner: slurm
      singularity_enabled: true
      env:
      - name: LC_ALL
        value: C
      - name: SINGULARITY_CACHEDIR
        value: /tmp/singularity
      - name: SINGULARITY_TMPDIR
        value: /tmp
    slurm-2c:
      runner: slurm
      singularity_enabled: true
      native_specification: --nodes=1 --ntasks=1 --cpus-per-task=2
      env:
      - name: LC_ALL
        value: C
      - name: SINGULARITY_CACHEDIR
        value: /tmp/singularity
      - name: SINGULARITY_TMPDIR
        value: /tmp
    singularity:
      runner: local_runner
      singularity_enabled: true
      env:
      # Ensuring a consistent collation environment is good for reproducibility.
      - name: LC_ALL
        value: C
      # The cache directory holds the docker containers that get converted
      - name: SINGULARITY_CACHEDIR
        value: /tmp/singularity
      # Singularity uses a temporary directory to build the squashfs filesystem
      - name: SINGULARITY_TMPDIR
        value: /tmp
    dynamic_admin_only:
      runner: dynamic
      function: admin_only
    dtd:
      runner: dynamic
      type: dtd

resources:
  default: default
  groups:
    default: []
    testing: [cores, time]

tools:
- class: local # these special tools that aren't parameterized for remote execution - expression tools, upload, etc
  execution: local_dest
- id: testing
  execution: dtd
