<parameters>
    <param label="Cores" name="cores" type="select" help="Number of cores to run job on.">
        <option value="1">1 (default)</option>
        <option value="2">2</option>
    </param>
  <param label="Time" name="time" type="integer" size="3" min="1" max="24" value="1" help="Maximum job time in hours, 'walltime' value (1-24). Leave blank to use default value." />
</parameters>
